<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.layer.sample"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- QR Code, CameraSender -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <application>
        <!-- Demo Identity Provider (QR Code) -->
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode"/>

        <activity android:name=".flavor.DemoScannerActivity"/>
        <activity
            android:name=".flavor.DemoLoginActivity"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize"/>
    </application>
</manifest>
