<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.layer.messenger"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- GallerySender -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- LocationSender -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- Layer SDK -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" android:maxSdkVersion="18"/>
    <uses-permission android:name="android.permission.GET_TASKS" android:maxSdkVersion="20"/>

    <permission
        android:name="${applicationId}.permission.LAYER_PUSH"
        android:protectionLevel="signature"/>
    <uses-permission android:name="${applicationId}.permission.LAYER_PUSH"/>
    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/layer_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        >

        <!-- Activity: List of Conversations -->
        <activity android:name=".ConversationsListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Activity: Messages in a Conversation; AddressBar -->
        <activity
            android:name=".MessagesListActivity"
            android:windowSoftInputMode="adjustResize"
            >
        </activity>

        <!-- Activity: Global app settings -->
        <activity
            android:name=".AppSettingsActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <!-- Activity: Individual Conversation settings -->
        <activity
            android:name=".ConversationSettingsActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <!-- Activity: Resume using provider credentials -->
        <activity
            android:name=".ResumeActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <!-- Receiver: Our app notification handling -->
        <receiver
            android:name=".PushNotificationReceiver"
            android:permission="${applicationId}.permission.LAYER_PUSH">

            <!-- Layer SDK broadcasts this, which we use to generate notifications -->
            <intent-filter>
                <action android:name="com.layer.sdk.PUSH"/>
                <category android:name="${applicationId}"/>
            </intent-filter>

            <!-- Our app sets this as a PendingIntent to handle user notification swipe-outs -->
            <intent-filter>
                <action android:name="${applicationId}.CANCEL_PUSH"/>
                <category android:name="${applicationId}"/>
            </intent-filter>
        </receiver>

        <!--Receiver: Layer SDK GCM handling -->
        <receiver
            android:name="com.layer.sdk.services.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter android:priority="470">
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <action android:name="com.google.android.c2dm.intent.REGISTER"/>

                <category android:name="${applicationId}"/>
            </intent-filter>
        </receiver>

        <!--Service: Layer SDK GCM handling -->
        <service android:name="com.layer.sdk.services.GcmIntentService"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

    </application>

</manifest>
